---
import Markdown from "@astrojs/markdown-remark"
const { content } = Astro.props;
---
<script lang="ts">
const components = {
  p: ({ children }: { children: string }) => {
    return <p class="my-6 text-lg">{children}</p>;
  },
  a: ({ children, href }: { children: string; href: string }) => {
    return (
      <a
        href={href}
        target="_blank"
        class="border-b border-b-transparent text-blue-600 transition-colors hover:border-b-zinc-300">
        {children}
      </a>
    );
  },
  h2: ({ children }: { children: string }) => {
    return <h2 class="text-3xl">{children}</h2>;
  },
  h3: ({ children }: { children: string }) => {
    return <h3 class="text-2xl">{children}</h3>;
  },
  img: ({ src, alt }: { src: string; alt: string }) => {
    return (
      <img
        src={`${src}?w=1200&auto=format,compression`}
        alt={alt}
        loading="lazy"
        decoding="async"
        class="rounded-md shadow"
      />
    );
  }
};


</script>

<div class="flex items-center justify-center">
    {content}
</div>